Repository open-edge-platform/edge-ai-libraries, changes with the owners that .github/CODEOWNERS names for each.
All owners: @xwu2intel, @bharagha, @ganesanintel, @yogeshmpandey, @dnoliver, @oommensy, @basakcap, @ajagadi1, @rrajore, @sajeevrajput, @elroyashjr, @tbujewsk, @OskarFiedot, @marcin-wadolkowski, @nszczygl9, @dmichalo

Update test-actions.yaml
  .github/workflows/test-actions.yaml
Owners: none

Update README.md
  sample-applications/chat-question-and-answer-core/README.md
Owners: @bharagha, @ganesanintel, @yogeshmpandey

Update action.yml
  .github/actions/setup-tools/action.yml
Owners: none

Update README.md
  sample-applications/chat-question-and-answer-core/README.md
Owners: @bharagha, @ganesanintel, @yogeshmpandey

Update README.md
  sample-applications/chat-question-and-answer-core/README.md
Owners: @bharagha, @ganesanintel, @yogeshmpandey

Update action.yml
  .github/actions/setup-tools/action.yml
Owners: none

Update README.md
  sample-applications/chat-question-and-answer-core/README.md
Owners: @bharagha, @ganesanintel, @yogeshmpandey

Update test-actions.yaml
  .github/workflows/test-actions.yaml
Owners: none

Update README.md
  sample-applications/chat-question-and-answer-core/README.md
Owners: @bharagha, @ganesanintel, @yogeshmpandey

Update test-actions.yaml
  .github/workflows/test-actions.yaml
Owners: none

Update README.md
  sample-applications/chat-question-and-answer-core/README.md
Owners: @bharagha, @ganesanintel, @yogeshmpandey

Update test-actions.yaml
  .github/workflows/test-actions.yaml
Owners: none

Update test-actions.yaml
  .github/workflows/test-actions.yaml
Owners: none

Update README.md
  sample-applications/chat-question-and-answer-core/README.md
Owners: @bharagha, @ganesanintel, @yogeshmpandey

Update test-actions.yaml
  .github/workflows/test-actions.yaml
Owners: none

document-ingestion: Renamed HF_SECRET env
  microservices/document-ingestion/pgvector/docs/get-started.md
  microservices/document-ingestion/pgvector/docs/how-to-customize.md
  microservices/document-ingestion/pgvector/run.sh
  microservices/document-ingestion/pgvector/tests/unit_tests/README.md
Owners: @bharagha, @ganesanintel, @yogeshmpandey

chore: remove .npmrc proxy configuration files
  sample-applications/chat-question-and-answer-core/ui/.npmrc
  sample-applications/chat-question-and-answer/ui/react/.npmrc
Owners: @bharagha, @ganesanintel, @yogeshmpandey

Update test-actions.yaml
  .github/workflows/test-actions.yaml
Owners: none

Create genai-pre-merge.yaml
  .github/workflows/genai-pre-merge.yaml
Owners: none

Create action.yml
  .github/actions/setup-tools/action.yml
Owners: none

Update get-started.md
  microservices/document-ingestion/pgvector/docs/get-started.md
Owners: @bharagha, @ganesanintel, @yogeshmpandey

Update README.md
  microservices/document-ingestion/pgvector/README.md
Owners: @bharagha, @ganesanintel, @yogeshmpandey

Update genai-pre-merge.yaml
  .github/workflows/genai-pre-merge.yaml
Owners: none

Update README.md
  microservices/document-ingestion/pgvector/README.md
Owners: @bharagha, @ganesanintel, @yogeshmpandey

Update test-actions.yaml
  .github/workflows/test-actions.yaml
Owners: none

Update README.md
  microservices/document-ingestion/pgvector/README.md
Owners: @bharagha, @ganesanintel, @yogeshmpandey

Update README.md
  microservices/document-ingestion/pgvector/README.md
Owners: @bharagha, @ganesanintel, @yogeshmpandey

feat: Added Max token in API and Seed param
  sample-applications/chat-question-and-answer/app/chain.py
  sample-applications/chat-question-and-answer/app/server.py
  sample-applications/chat-question-and-answer/docker-compose.yaml
  sample-applications/chat-question-and-answer/docs/user-guide/get-started.md
  sample-applications/chat-question-and-answer/setup.sh
  sample-applications/chat-question-and-answer/ui/react/.env
  sample-applications/chat-question-and-answer/ui/react/src/config.ts
Owners: @bharagha, @ganesanintel, @yogeshmpandey

Update README.md
  sample-applications/chat-question-and-answer-core/README.md
Owners: @bharagha, @ganesanintel, @yogeshmpandey

[DLStreamer] New script for DLS environment configuration
  libraries/dl-streamer/docs/source/get_started/install/install_guide_ubuntu.rst
  libraries/dl-streamer/scripts/setup_dls_env.sh
Owners: @tbujewsk, @OskarFiedot, @marcin-wadolkowski, @nszczygl9, @dmichalo

Add PaddleOCR output description, introduce class constants
  libraries/dl-streamer/src/monolithic/gst/inference_elements/common/post_processor/converters/to_tensor/paddle_ocr.cpp
  libraries/dl-streamer/src/monolithic/gst/inference_elements/common/post_processor/converters/to_tensor/paddle_ocr.h
Owners: @tbujewsk, @OskarFiedot, @marcin-wadolkowski, @nszczygl9, @dmichalo

Update README.md
  microservices/document-ingestion/pgvector/README.md
Owners: @bharagha, @ganesanintel, @yogeshmpandey

Update test-actions.yaml
  .github/workflows/test-actions.yaml
Owners: none

Update README.md
  microservices/document-ingestion/pgvector/README.md
Owners: @bharagha, @ganesanintel, @yogeshmpandey

Update README.md
  sample-applications/chat-question-and-answer-core/README.md
Owners: @bharagha, @ganesanintel, @yogeshmpandey

Update test-actions.yaml
  .github/workflows/test-actions.yaml
Owners: none

Update README.md
  sample-applications/chat-question-and-answer-core/README.md
Owners: @bharagha, @ganesanintel, @yogeshmpandey

Update README.md
  sample-applications/chat-question-and-answer/README.md
Owners: @bharagha, @ganesanintel, @yogeshmpandey

Update test-actions.yaml
  .github/workflows/test-actions.yaml
Owners: none

Update README.md
  sample-applications/chat-question-and-answer/README.md
Owners: @bharagha, @ganesanintel, @yogeshmpandey

.github/CODEOWNERS:

README.md @xwu2intel
LICENSE @xwu2intel
CONTRIBUTING.md @xwu2intel
CODE_OF_CONDUCT.md @xwu2intel
SECURITY.md @xwu2intel
/microservices/document-ingestion/ @bharagha @ganesanintel @yogeshmpandey
/microservices/object-store/ @bharagha @ganesanintel @yogeshmpandey
/sample-applications/chat-question-and-answer/  @bharagha @ganesanintel @yogeshmpandey
/sample-applications/chat-question-and-answer-core/  @bharagha @ganesanintel @yogeshmpandey
/tools/visual-pipeline-and-platform-evaluation-tool/ @dnoliver @oommensy @basakcap
/microservices/dlstreamer-pipeline-server/ @ajagadi1 @rrajore @sajeevrajput
/microservices/model-registry/ @rrajore @elroyashjr
/libraries/dl-streamer/ @tbujewsk @OskarFiedot @marcin-wadolkowski @nszczygl9 @dmichalo
